{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer class="footer">
        <div>
            <a href="https://www.google.com/maps/place/Dulce+capricho+helados+y+malteadas/@6.2637262,-75.5718313,17z/data=!3m1!4b1!4m5!3m4!1s0x8e4429bc497cca8f:0x3c3f92f32a74d7e0!8m2!3d6.2637262!4d-75.5696426?hl=es" ><img src="{% static 'Imagenes/ubicacion.gif' %}"width="50" height="50"></a>
            <p> Gracias por visitarnos. </p>
            <p>Dirección: calle 56# 65-39 </p>
            <p> Télefono: 3054347713 </p>
        </div>
    </footer>
</body>
</html>
