{% extends "header.html" %}
{% load static  %}

{% block content %}
<link rel="stylesheet" href="{% static 'eLogin.css' %}">
<div  class="form">
    <img  class="logo" src="{% static 'Imagenes/logo.gif' %}">
    <h1>Login Here</h1>
    <form method="POST" id="form">{% csrf_token %}
        {% for campos in form %}
        <div class="grupo">
            {{campos}}
            {{campos.label_tag}}
            {{campos.errors}}
        </div>
        {% endfor %} 
        <input type="submit" value="Login">
    </form>
   
    <center>
     <a href="">Crea una Cuenta</a>
     <br>
     <a href="">¿Olvídaste tu contraseña?</a>
    </center>
</div> 
{% endblock %}